#about-me {
    min-height: 100vh;
    background: #EBEBEB;
    position: relative;
    overflow: hidden;
}

.graphic-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 32%;
    opacity: 0;
}

#cs-graphics  {
    position: relative;
    margin-top: 66px;
    margin-left: 10%;
}

#life-graphics  {
    position: absolute;
    top: 169px;
    right: 15%;
}

#boba  {
    margin-bottom: 30px;
}

#about-me p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt;
    width: 32%;
    line-height: 1.4;
    opacity: 0;
    text-align: justify;
    text-justify: inter-word;
}

#cs-description {
    position: relative;
    margin-left: 10%;
    margin-top: 70px;
}

#life-description {
    position: absolute;
    top: 310px;
    right: 12%;
}

#dividing-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 250px;
    top: 331px;
    background: black;
}

@media screen and (max-width: 1000px) {
    #life-graphics {
        right: 18%;
    }

    #cs-graphics {
        width: 35%;
    }
}

@media screen and (max-width: 820px) {
    #cs-graphics  {
        position: relative;
        margin: 0 auto;
        width: 50%;
        margin-top: 66px;
    }

    #life-graphics {
        position: relative;
        margin-left: 16.5%;
        right: 0%;
        top: 0%;
        left: 0%;
        width: 54%;
        padding-top: 60px;
    }

    #about-me p {
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;
    }

    #life-description {
        position: relative;
        right: 0%;
        top: 0%;
    }

    #dividing-line {
        display: none;
    }
}

@media screen and (max-width: 610px) {

    #cs-graphics {
        width: 60%;
    }

    #life-graphics {
        margin-left: 10%;
        width: 65%;
    }
}

@media screen and (max-width: 500px) {
    #cs-graphics {
        width: 80%;
    }
    
    #about-me p {
        font-size: 14pt;
    }
    #life-graphics {
        width: 99%;
        margin-left: -40px;
    }

    #cs-graphics img {
        height: 70px;
    }
}

@media screen and (max-width: 370px) {
    #life-graphics  {
        width: 100%;
    }
}