#experience {
    position: relative;
    height: auto;
}

h1 {
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-size: 32pt;
    font-weight: 600;
    margin: 0;
    text-align: center;
    padding-top: 50px;
}

.section-line {
    background: black;
    width: 2px;
    height: 40px;
    border-radius: 10px;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24pt;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}

.section-heading {
    position: relative;
    margin-left: 7%;
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-text-name {
    margin-left: 1.2%;
}

.work-container {
    background-image: url("../img/about_graphics/noise.png");
    z-index: 1;
    position: relative;
    width: 86%;
    margin-top: 40px;
    margin-left: 7%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    border-radius: 12px;
}

.company-logo {
    width: 18%;
    margin-left: 3%;
    margin-right: 3%;
}

.smaller-logo {
    width: 12%;
    margin-left: 6%;
    margin-right: 6%;
}

@media screen and (min-width: 820px) {
    #wdd {
        width: 10%;
        margin-left: 7%;
        margin-right: 7%;
    }  
} 

.logo-description-dividing-line {
    height: 150px;
    width: 6px;
    background: #000000;
    margin-right: 3%;
    border-radius: 50%;
    opacity: 0;
}

.description-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    height: 85%;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    font-weight: 600;
    font-size: 16pt;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    font-weight: 400;
    font-size: 11pt;
}

h6 {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    font-weight: 400;
    font-size: 10pt;
    color: #909090;
}

.link-icon {
    width: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    opacity: 0.25;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.link-project {
    top: 24px;
}

@media screen and (max-width: 1020px) {
    .link-icon {
        width: 28px;
    }
}

@media screen and (max-width: 930px) {
    .link-project {
        top: 90%;
        right: 15px;
    }
}

@media (hover: hover) {
    .link-icon:hover {
        cursor: pointer;
        transition-property: opacity;
        transition-duration: 0.5s;
        opacity: 1;
    }
}

/*if one input form supports hovering but another doesnt (has mouse and is also touchscreen),
remove the nav lines*/
@media (any-hover: none) {
    .link-container:hover {
        opacity: 0.25;
    }
}


.job-responsibilities {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.job-responsibilities p {
    font-family: 'Quicksand', sans-serif;
    width: 95%;
    font-weight: 400;
    font-size: 11pt;
    margin: 0px;
}


.project-container {
    background-image: url("../img/about_graphics/noise.png");
    z-index: 1;
    width: 40%;
    margin-bottom: 60px;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.5s;
    border-radius: 12px;
    position: relative;
    margin-left: 7%;
}

/*if the device supports hovering capabilities*/
@media (hover: hover) {
    .project-container:hover {
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.15);
        transition-property: box-shadow;
        transition-duration: 0.5s;
        cursor: pointer;
    }

    .work-container:hover, #coursework-container:hover, #languages-container:hover {
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.15);
        transition-property: box-shadow;
        transition-duration: 0.5s;
    }
}


.work-container, #coursework-container, #languages-container {
    transition-duration: 0.5s;
}

/*if one input form supports hovering but another doesnt (has mouse and is also touchscreen),
remove the nav lines*/
@media (any-hover: none) {
    .link-container:hover .nav-line {
        box-shadow: none;
    }
}

.project-name {
    font-family: 'Quicksand', sans-serif;
    font-size: 20pt;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    margin-top: 20px;
}

.project-subheading {
    font-family: 'Quicksand', sans-serif;
    font-size: 11pt;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: 20px;
}

.language-tag {
    border-style: solid;
    border-width: 1px;
    border-color:#111111;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

.project-image {
    height: 250px;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    opacity: 1;
    transition-property: opacity;
    transition: 1.5s;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.arrow {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    transform: rotateX(0deg);
    transition-property: transform;
    transition-duration: 1s;
}

.project-description {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    width: 85%;
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}



.light-opacity {
    opacity: 0.08;
    transition-property: opacity;
    transition: 0.5s;
}

.flip {
    transform: rotateX(180deg);
    transition-property: transform;
    transition-duration: 1s;
}

.project-flex  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 32px;
    width: 100%;
    flex-wrap: wrap;
}

.second.section-line {
    margin-left: 1.2%;
    display: none;
}

#course-lang-flex {
    position: relative;
    margin-left: 7%;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#courses, #languages {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 43%;
}

#languages {
    margin-left: 6.5%;
}

#courses .section-heading, #languages .section-heading {
    position: relative;
    margin-left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#course-lang-flex .section-text-name {
    margin-left: 3%;
}

#coursework-container, #languages-container {
    position: relative;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 10px;
    padding-top: 5px;
    opacity: 0;
    border-radius: 12px;
    background-image: url("../img/about_graphics/noise.png");
    z-index: 1;
}

#coursework-container p, #languages-container p {
    font-family: 'Quicksand', sans-serif;
    width: 92%;
    font-weight: 400;
    font-size: 14pt;
    margin: 0px;
    margin-top: 5px;
    margin-left: 4%;
}

@media screen and (max-width: 1100px) {
    .project-subheading {
        width: 75%;
    }

    .project-description {
        top: 30%;
    }
}
@media screen and (max-width: 1000px) {
    .project-image {
        height: 200px;
    }

    .project-description {
        font-size: 12pt;
    }
}
@media screen and (max-width: 820px) {
    /*For section titles*/
    .section-line {
        width: 50%;
        height: 2px;
    }

    .section-line.second {
        display: block;
        margin-left: 5%;
    }

    .section-line.first {
        margin-right: 5%;
    }

    .section-heading {
        position: relative;
        display: flex;
        width: 90%;
        overflow: hidden;
        margin-left: 5%;
        justify-content: center;
        align-items: center;
    }

    .section-text-name {
        white-space: nowrap;
    }

    /*For work section*/
    .work-container {
        width: 90%;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .company-logo {
        width: 50%;
        padding-top: 20px;
    }

    .smaller-logo {
        width: 30%;
    }

    #wdd {
        width: 20%;
    }

    .logo-description-dividing-line {
        width: 90%;
        height: 2px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 0px;
        opacity: 0;
    }

    .description-section {
        width: 90%;
    }

    .job-responsibilities {      
        width: 100%;  
        padding-bottom: 20px;
        text-align: left;
    }

    .job-responsibilities p {
        width: 100%;
    }

    /* For coursework + language flexbox*/
    #course-lang-flex {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        flex-direction: column;
    }

    #courses, #languages {
        width: 100%;
    }

    #course-lang-flex .section-heading {
        width: 90%;
        margin-left: 5%;
    }

    #courses, #languages {
        width: 100%;
        justify-content: center;
        margin-left: 0%;
    }

    #coursework-container, #languages-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /*For projects*/

    .project-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .project-flex {
        flex-direction: column;
    }

    .project-image {
        width: 80%;
        height: auto;
    }   

    .project-description {
        top: 40%;
        transform: translate(-50%, -50%);
        font-size: 16pt;
    }

    .project-subheading {
        width: 40%;
    }

    .link-icon {
        width: 32px;
        top: 20px;
        right: 20px;
    }   
}

.hidden {
    opacity: 0;
}

@media screen and (max-width: 760px) {
    .project-description {
        top: 30%;
    }
}
@media screen and (max-width: 650px) {
    .project-subheading {
        font-size: 10pt;
        width: 50%;
    }

    .project-description {
        font-size: 14pt;
    }

    .link-project {
        top: 22px;
    }
}

@media screen and (max-width: 500px) {

    h3 {
        font-size: 19pt;
    }

    .project-name {
        font-size: 16pt;
    }

    .project-subheading {
        font-size: 9pt;
        width: 55%;
    }

    .project-description {
        font-size: 12pt;
    }

    .project-description {
        top: 30%;
    }

    .job-responsibilities p {
        font-size: 11pt;
    }

    h4 {
        font-size: 14pt;
    }
    
    h5 {
        font-size: 10pt;
    }

    #wdd {
        width: 30%;
    }

    .link-project {
        top: 20px;
    }
}

@media screen and (max-width: 420px) {

    #java-vcs-description {
        top: 26%;
    }

    .project-subheading {
        width: 70%;
    }
}

@media screen and (max-width: 380px) {
    
    
    .project-description {
        font-size: 11pt;
    }

    .project-name {
        font-size: 15pt;
    }

    h3 {
        font-size: 17pt;
    }

    #coursework-container p, #languages-container p {
        font-size: 13pt;
    }

    .link-icon {
        top: 15px;
        right: 15px;
    }
}

@media screen and (max-width: 340px) {
    .project-description {
        top: 30%;
        font-size: 10pt;
    }
}

@media screen and (max-width: 320px) {
    .project-subheading {
        width: 80%;
    }

    .link-project {
        position: absolute;
        top: unset;
        bottom: 10px;
    }

}

@media screen and (max-width: 300px) {
    .project-description {
        font-size: 9pt;
    }

    #java-vcs-description {
        top: 28%;
    }
}
@media screen and (max-width: 280px) {
    .project-subheading {
        width: 90%;
    }
}

@media screen and (min-width: 1600px) {
    h1 {
        font-size: 44pt;
    }

    .section-line {
        width: 3px;
        height: 50px;
    }

    h3 {
        font-size: 30pt;
    }

    h4 {
        font-size: 22pt;
    }

    h5 {
        font-size: 16pt;
    }

    h6 {
        font-size: 14pt;
    }

    .job-responsibilities p {
        font-size: 16pt;
    }

    #coursework-container p, #languages-container p {
        font-size: 20pt;
    }

    .project-name {
        font-size: 28pt;
        margin-bottom: 10px;
    }

    .project-subheading {
        font-size: 16pt;
    }

    .project-image {
        height: 400px;
    }

    .arrow {
        width: 55px;
    }

    .project-description {
        font-size: 18pt;
    }

    .link-icon {
        width: 48px;
    }
}