.smooth-scrolling {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    height: auto;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/hero_background.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 38%;
    opacity: 0.7;
}

.hero-content {
    position: relative;
    width: 100%;
    height: 100%;
}


#logo {
    position: relative;
    margin-left: 7%;
    margin-top: 24px;
}

#homepage p {
    position: absolute;
    font-size: 40pt;
    left: 7%;
    top: 40%;
    transform: translateY(-50%);
    font-family: 'Quicksand', sans-serif;
    width: 50%;
}

#social-media-links {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 18%;
    bottom: 14%;
}

.social-link {
    width: 44px;
}


#mail {
    width: 54px;
}

#page-navigation {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 7%;
    top: 28px;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12pt;
}

#page-navigation a {
    text-decoration: none;
    color: black;
}

.link-container {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-line {
    width: 1%;
    opacity: 0;
    height: 1px;
    background: black;
    transition-duration: 0.5s;
}

.link-container:hover .nav-line {
    width: 100%;
    opacity: 1;
    transition-duration: 0.5s;
}


#hamburger-icon {
    display: none;
}

@media screen and (min-width: 1000px) and (min-height: 1000px) {
    #homepage p {
        font-size: 48pt;
        width: 60%;
        top: 50%;
    }
}

@media screen and (max-width: 990px) {
    #homepage p {
        font-size: 36pt;
        width: 50%;
    }
}

@media screen and (max-width: 690px) {
    #homepage p {
        font-size: 36pt;
        width: 65%;
    }

    #social-media-links {
        left: 7%;
    }
}


@media screen and (min-width: 481px) and (max-width: 800px) {
    .hero:before {
        background-position: 70% 40%;
    }
}


@media screen and (max-width: 480px) {
    #homepage p {
        top: 200px;
        left: 7%;
        
        font-size: 36pt;
        width: 90%;
    }

    #social-media-links  {
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
        width: 250px;
        justify-content: space-between;
    }

    .hero:before {
        background-position: 100% 0%;
    }

    #page-navigation {
        display: none;
    }

    #hamburger-icon, #cancel-icon {
        display: block;
        position: absolute;
        right: 7%;
        top: 36px;
        height: 40px;
    }

}

.closed.menu {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #e3e3e3;
    position: absolute;
    left: 100%;
    top: 0%;
}

.closing-animation {
    animation-name: left-right-closing;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opened.menu {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #e3e3e3;
    position: absolute;
    top: 0%;
    animation-name: right-left-opening;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu a {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 20pt;
    text-decoration: none;
    margin-top: 10px;
    color: black;
}


@media screen and (max-width: 380px) {
    #homepage p {
        top: 40%;
        left: 7%;
        
        font-size: 32pt;
        width: 50%;
    }
}

@keyframes left-right-closing {
    from { 
        opacity: 1;
        width: 100%;
        left: 0%;
    }
    to { 
        opacity: 0;
        width: 0%;
        left: 100%; 
    }
}

@keyframes right-left-opening {
    from {
        left: 100%;
        width: 0%;
        opacity: 0;
    }
    to {
        left: 0%;
        width: 100%;
        opacity: 1;
    }
}